<!-- START #page-header -->
<header id="page-header" class="page-header">
  <%- include('App/Header/AppHeader') %>  
</header>
<!-- END #page-header -->

<!-- START #section-about -->
<section id="section-about" class="section-about section-padding">
  <%- include('App/About/AppAbout') %>  
</section>
<!-- END #section-about -->

<!-- START #section-feature -->
<section id="section-feature" class="section-feature section-padding">
  <%- include('App/Feature/AppFeature') %>
</section>
<!-- END #section-feature -->

<!-- START #section-advantage -->
<section id="section-advantage" class="section-advantage section-padding">
  <%- include('App/Advantage/AppAdvantage') %>
</section>
<!-- END #section-advantage -->

<!-- START #section-show -->
<section id="section-show" class="section-show section-padding">
  <%- include('App/Show/AppShow') %>
</section>
<!-- END #section-show -->

<!-- START #section-benefit -->
<section id="section-benefit" class="section-benefit section-padding">
  <%- include('App/Benefit/AppBenefit') %>
</section>
<!-- END #section-benefit -->

<!-- START #section-register -->
<section id="section-register" class="section-register section-padding">
  <%- include('App/Register/AppRegister') %>
</section>
<!-- END #section-register -->

<!-- START #section-footer -->
<section id="page-footer" class="page-footer">
  <%- include('App/Footer/AppFooter') %>
</section>
<!-- END #page-footer -->
